// Colors
$primary-color: #cd34f7;

$secondary-color: #08f1fd;
$secondary-dark-color: #029ad4;

// Text colors
$primary-text-color: #ffffff;
$secondary-text-color: rgba(255, 255, 255, 0.5);

// Font families
$primary-font-family: "Mukta", sans-serif;
$secondary-font-family: "Rise", sans-serif;
